.swiper-slide-prev, .swiper-slide-next {
    transform: scale(0.8) !important;
}
.swiper-slide-active {
    transform: scale(1) !important;
}

.swiper-slide {
    transition: transform 0.3s ease-in-out !important;
}
